footer {
  background-color: $nav;
  color: $text-nav;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;

  h3,
  p {
    display: flex;
    justify-content: center;
  }
}