#register_form,
#login_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 4px 4px lightblue;

  width: 30%;
  height: 80%;

  border: 2px solid $nav;
  border-radius: 1rem;

  padding: 0 5%;

  label {
    font-weight: bold;
  }

  input {
    font-size: large;
    width: 90%;
    height: 10%;
    border: 1px solid darkgray;
    border-radius: 0.5rem;
    align-self: center;
  }

  button {
    background: none;
    border: 4px solid $nav;
    box-shadow: 4px 4px lightblue;
    border-radius: 0.5rem;
    font-size: large;
    height: 15%;
    width: 50%;
    align-self: center;

    &:hover {
      background-color: rgb(232, 249, 255);
      transition: 0.5s;
    }
  }

  @media only screen and (max-width: 800px) {
    width: 80%;
  }
}
