nav {
  color: #fff;
  background-color: #335599;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  padding: 0 2rem;
  height: 100%;
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav a:hover {
  color: #fff;
  background-color: #444444;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav h3 {
  padding: 0 5rem;
}

footer {
  background-color: #335599;
  color: #fff;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer h3,
footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar {
  height: auto;
  width: 80rem;
  border-collapse: collapse;
}

.calendar .hours {
  font-weight: normal;
  height: 2rem;
  width: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calendar .hours p {
  line-height: 2rem;
  font-size: smaller;
}

.calendar .day {
  height: 5rem;
  font-size: 1.5rem;
}

.calendar .day p {
  width: 10rem;
  line-height: 5rem;
  text-align: center;
}

.calendar .day .events {
  position: relative;
}

.calendar .day .events .event {
  background-color: lightgray;
  position: absolute;
  top: 0rem;
  height: 100%;
  min-width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar .day .events .event p {
  line-height: normal;
  font-size: 0.7rem;
  width: auto;
  color: #636363;
}

.calendar .day .events .event .theme {
  font-size: 1.2rem;
}

.calendar .day .events .event .theme,
.calendar .day .events .event h4 {
  color: #3d3d3d;
}

.calendar .day .events .event .time {
  line-height: normal;
  font-size: 0.7rem;
}

.calendar .day .events .event h4 {
  line-height: normal;
}

.calendar tr {
  border: 1px solid black;
}

.calendar td:first-child {
  border-right: 1px solid black;
}

#register_form,
#login_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 4px 4px lightblue;
          box-shadow: 4px 4px lightblue;
  width: 30%;
  height: 80%;
  border: 2px solid #335599;
  border-radius: 1rem;
  padding: 0 5%;
}

#register_form label,
#login_form label {
  font-weight: bold;
}

#register_form input,
#login_form input {
  font-size: large;
  width: 90%;
  height: 10%;
  border: 1px solid darkgray;
  border-radius: 0.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#register_form button,
#login_form button {
  background: none;
  border: 4px solid #335599;
  -webkit-box-shadow: 4px 4px lightblue;
          box-shadow: 4px 4px lightblue;
  border-radius: 0.5rem;
  font-size: large;
  height: 15%;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#register_form button:hover,
#login_form button:hover {
  background-color: #e8f9ff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 800px) {
  #register_form,
  #login_form {
    width: 80%;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

html,
body {
  min-height: 100%;
  height: auto;
}

body {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  height: 35rem;
  width: 100%;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */