.user {
  @include flex-center(column, space-evenly);
  @include width-height(7rem, 9rem);

  border: 4px solid $main;
  border-radius: 5px;
  box-shadow: 4px 4px $main-light;

  a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    &:last-child {
      font-weight: normal;
      font-size: small;
    }
  }
}
