nav {
  color: $text-nav;
  background-color: $main;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;

  a {
    padding: 0 2rem;
    height: 100%;
    text-decoration: none;
    color: inherit;
    @include flex-center(row, center);

    &:hover {
      color: $nav-hover-text;
      background-color: $nav-hover;
      transition: 0.2s ease;
    }
  }

  ul {
    background-color: inherit;
    height: 100%;
    display: flex;
    z-index: 100;

    li {
      list-style: none;
      @include flex-center(column, space-around);
    }
  }

  h3,
  img {
    align-self: center;
    padding: 0 5rem;
  }

  p {
    padding: 0 1rem;
    height: auto;
    font-size: small;
  }

  .burger {
    align-self: center;
    @include width-height(4rem, 3rem);
    @include flex-center(column, space-evenly);
    display: none;

    div {
      @include width-height(70%, 8%);
      border-radius: 5px;
      background-color: white;
      transition: all 0.3s ease-in;
    }
  }

  @media screen and (max-width: 600px) {
    z-index: 1;
    ul {
      transition: transform 0.5s ease-in;
      transform: translateX(100%);
      @include absolute-position(3.5rem, 0);
      @include width-height(50%, auto);

      flex-direction: column;

      li {
        height: 3.5rem;

        a {
          padding: 0;
          width: 100%;
        }
      }
    }

    .burger {
      display: flex;
      cursor: pointer;
    }
  }
}

.nav_active {
  transform: translateX(0%);
}

.toggle {
  #burger1 {
    transform: rotate(45deg) translate(0.1rem, 0.9rem);
  }

  #burger2 {
    opacity: 0;
  }

  #burger3 {
    transform: rotate(-45deg) translate(0.2rem, -1rem);
  }
}
