nav {
  color: $text-nav;
  background-color: $nav;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;

  a {
    padding: 0 2rem;
    height: 100%;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &:hover {
      color: $nav-hover-text;
      background-color: $nav-hover;
      transition: 0.2s ease;
    }
  }

  ul {
    background-color: inherit;
    height: 100%;
    display: flex;
    z-index: 100;

    li {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }

  h3,
  img {
    align-self: center;
    padding: 0 5rem;
  }

  p {
    padding: 0 1rem;
    height: auto;
    font-size: small;
  }

  .burger {
    align-self: center;
    height: 3rem;
    width: 4rem;
    display: none;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    div {
      width: 70%;
      height: 8%;
      border-radius: 5px;
      background-color: white;
      transition: all 0.3s ease-in;
    }
  }

  @media screen and (max-width: 600px) {
    z-index: 1;
    ul {
      transition: transform 0.5s ease-in;
      transform: translateX(100%);
      position: absolute;
      right: 0px;
      top: 3.5rem;
      height: auto;
      width: 50%;

      flex-direction: column;

      li {
        height: 3.5rem;

        a {
          padding: 0;
          width: 100%;
        }
      }
    }

    .burger {
      display: flex;
      cursor: pointer;
    }
  }
}

.nav_active {
  transform: translateX(0%);
}

.toggle #burger1 {
  transform: rotate(45deg) translate(0.1rem, 0.9rem);
}

.toggle #burger2 {
  opacity: 0;
}

.toggle #burger3 {
  transform: rotate(-45deg) translate(0.2rem, -1rem);
}

@media screen and (max-width: 600px) {
  .wraper {
    overflow-x: hidden;
  }
}
