.todo {
  @include flex-center(row, center);
  @include width-height(50rem, 2rem);

  background-color: $main-light;
  border: 2px dotted $main;

  cursor: pointer;
  * {
    cursor: pointer;
  }
  p {
    flex-grow: 1;
  }

  input {
    @include width-height(1rem, 1rem);
    margin: 0.5rem;
  }

  .fa-trash {
    @include width-height(1rem, 100%);
    line-height: 2rem;
    padding: 0 0.5rem;

    color: rgb(255, 107, 107);

    &:hover {
      color: rgb(255, 163, 163);
      transition: color 0.3s;
    }
  }

  .fa-ellipsis-v {
    @include width-height(0.5rem, 100%);
    line-height: 2rem;
    padding: 0 0.2rem;

    color: white;

    &:hover {
      color: rgb(102, 102, 102);
      transition: color 0.3s;
    }
  }
}
