.calendar {
  height: auto;
  width: 80rem;
  border-collapse: collapse;

  .hours {
    font-weight: normal;
    height: 2rem;
    width: 70rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      line-height: 2rem;
      font-size: smaller;
    }
  }

  .day {
    height: 5rem;
    font-size: 1.5rem;
    p {
      width: 10rem;
      line-height: 5rem;
      text-align: center;
    }
    .events {
      position: relative;

      .event {
        position: absolute;
        top: 0rem;
        height: 100%;
        //Other atributes will be aded to each event
      }
    }
  }

  tr {
    border: 1px solid black;
  }

  td:first-child {
    border-right: 1px solid black;
  }
}
