@import "./colors";
@import "./nav";
@import "./footer";
@import "./calendar";

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: $text;
  height: 35rem;
  margin: 0 auto;
  width: 90%;
}